.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  margin-left: 20px;
  button {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
